#backDocument{
	background: #eae8e7;
}

.small-text {
	font-size: .9em;
}

.aside-blue, .aside-blue a {
	font-size: .8em;
	background: #5da4d9;
	color: white;
}

.aside-blue a:hover {
	color: blue;
}
.light-text{
	color: #767270;
}
.light-blue{
	color:#5da4d9;
}
.shadow {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.33);
}

.skills {
	border: 1px solid #adb5bd;
	border-radius: 5px;
	background: white;
	padding: 5px;
}

.level-skill {
	border: 1px solid rgb(80, 200, 255);
	border-radius: 5px;
	padding: 5px;
}